@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color-hex: 4FB9FC; /* เพิ่มตัวแปรสำหรับสีพื้นหลัง */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color-hex: 4FB9FC; /* กำหนดสีพื้นหลังสำหรับโหมดแสงสว่าง */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #4FB9FC; /* ใช้สีพื้นหลังที่กำหนดไว้ */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

